body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper{
  width: 1000px;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.logged,
.notlogged{
    display: flex;
    justify-content: space-between;
}

.navbar{
    position: sticky;
    background-color: darkseagreen;
    padding: 1rem 2rem;
}

.navbar h1{
  color: red;
  font-size: 25;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.content{
  margin: auto;
  width: 70%;
}

.navbarandbody>div{

  margin: 1rem 3rem;
}

.landingButtons{
  display: flex;
  flex-flow: row wrap;
  margin-top: 2rem;
}

.boxLanding{
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: 20rem;
  height: 5rem;
  line-height: 5;
  text-align: center;

}

.boxLanding:first-of-type{
  background-color: yellow;
}

.boxLanding:nth-child(2){
  background-color: orange;
}

.boxLanding:nth-child(3){
  background-color: lightgreen;
}

.boxLanding:nth-child(4){
  background-color: lightblue;
}

.boxLanding:nth-child(5){
  background-color: pink;
}

.boxLanding:nth-child(6){
  background-color: lightpurple;
}

a{
  color: black;
}


.homePage{
  display: grid;
  grid-template-columns: minmax(100px 1fr) 3fr;

}

.homePage .landImage{
  margin-right: 2rem;
}

.ipsumText{
  display: flex;
  flex-flow: column nowrap;
}

.card{
  min-width: 18rem;
  width: 80%;
}

.card-title{
  margin-bottom: 4rem;
}

.card div img{
  height: 10rem;
}

.card-body{
  display: flex;
  flex-flow: column nowrap;
}

.cardDetails{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}


.cardRight{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

}

.loggedNavega {
  background-color: cornflowerblue;
}
