
.top-menu-icon {
    display: none;
}

#root nav .mr-auto a,
#root nav .mr-auto.toggled a{
    color: white;
    font-weight: 500;
}

@media screen and (max-width: 600px) {

    .dropdown-menu.show{
        background-color: grey;
    }


    .mr-auto {
        display: none;
    }

    .mr-auto.toggled{
        display: block;
        background-color: lightgreen;

        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
    }

    .mr-auto.toggled{
        background-color: grey;
    }

    .navbar.bg-success,
    .navbar.bg-primary,
    .navbar.bg-dark{
        color: white;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .navbar.bg-success a,
    .navbar.bg-primary a,
    .navbar.bg-dark a{
        color: white;
    }

    .top-menu-icon {
        display: block;
    }

}
